body {
    font-family: Arial;
    padding: 20px;
}

.question {
    display: none;
    border: 1px solid #ccc;
    padding: 15px;
    margin-bottom: 20px;
}

.active {
    display: block;
}

.correct {
    color: green;
    font-weight: bold;
}

.wrong {
    color: red;
    font-weight: bold;
}

button {
    margin: 5px;
    padding: 8px 12px;
    cursor: pointer;
}
#finalResult {
    margin-top: 20px;
    padding: 10px;
    background: #f5f5f5;
    border-radius: 8px;
}